.DS_Store
bin/
makefile.dependencies
Spaghettis/Modules/spaghettis_core/T/tests
Spaghettis/Modules/spaghettis_core/T/spaghettis
Spaghettis/Modules/spaghettis_core/T/spaghettis.dSym
Spaghettis/Modules/spaghettis_core/Belle/Belle
Spaghettis/Modules/spaghettis_core/Belle/Resources/MICA/MicaData*.hpp
Spaghettis/Modules/spaghettis_core/Belle/Tools/Builds/Tools/
*.pdobject
*.sublime-workspace
xcuserdata/
Spaghettis/Builds/MacOSX/build/
Spaghettis/Builds/LinuxMakefile/build/
