.DS_Store
bin/
makefile.dependencies
Spaghettis/Resources/T/tests
Spaghettis/Resources/T/spaghettis
Spaghettis/Resources/T/spaghettis.dSym
Spaghettis/Resources/Belle/Belle
Spaghettis/Resources/Belle/Resources/MICA/MicaData*.hpp
Spaghettis/Resources/Belle/Tools/Builds/Tools/
*.pdobject
*.sublime-workspace
xcuserdata/
Spaghettis/Builds/
